.link-b{
  text-decoration: none;
  color: #fff;
}
  
  .botoes{
    display: flex;
    position: absolute;
    top: 150%;
  }
  
  .logo-img-1{
     position: relative;
     width: auto;
     height: auto;
     left: 100px;

  }

  #cor-logo{
    color: #fff;
    font-family: sans-serif;
  }

  .blur-1{
    height: 100%;
    background-color: #4e524a66;
    filter: grayscale(100%);

  }

  .logo-img{
    position: absolute;
    top: 5px;
    z-index: -1;
    right: calc(50% - 50px);
    margin-left: auto;
    margin-right: auto;
    height: 100px;
  }


  .meio-img{
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 75px solid #1c1b18;
    filter: drop-shadow(0 2px 4px rgba(22,22,24,.25));
    position: absolute;
    top: 55px;
    z-index: -1;
    right: calc(50% - 90px);
    margin-left: auto;
    margin-right: auto;
  }
  
  /* inicio layout img*/
  body {
    background-image: url('../img/ship.png'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  background-size: cover;
}
/* no-repeat center center fixed; */
.blur {
  background: url('../img/ship.png'); 
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center center;
  background-attachment: fixed;

  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 6000px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
} 


/*  NOT REQUIRED  */

.text {
  height: 200px;
  width: 340px;
}

.text h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  color: #ffffff;
  margin-top: 57px;
  /* font-family: 'Lora', serif; */
  font-weight: 700;
  font-size: 3.5rem;
  font-family: sans-serif;
}

.text p {
  text-align: center;
  color: #ffffffbf;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  margin-top: 0px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 22px;
}

.text-text{
  position: relative;
  bottom: 75%;
}

/* fim layout img*/

/* inicio nav-bar*/



.header {
  background-color: #1c1b18;
  box-shadow: 1px 1px 4px 0 #00000040;
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0px;
  top: 0px;


}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #00000024; */
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;

}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #1c1b18;
  color: #a02814;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}



/*fim nav-bar*/

/* inicio button*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

.borda-botao{

transform: translate(-50%, -50%);
width: 200px;
height: 50px;
box-shadow: 0 0 0 1px #a1ce6d00;
cursor: pointer;
}
.borda-botao:before,.borda-botao:after {
content: "";
position: absolute;
background: #ffffff00;
width: 2px;
height: 10px;
top: calc(50% - 5px);
}
.borda-botao:before{
left: -1px;
}

.borda-botao:after{
right: -1px;
}

.botao-botao {
position: absolute;
left: 7px;
top: -50px;
width: calc(100% - 14px);
height: calc(100% - 14px);
background: none;
box-shadow: 0 0 0 1px #ffffff;
outline: none;
border: none;
color: #ffffff;
font-size: 19px;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
overflow: hidden;
font-weight: bold;
cursor: pointer;
transition: 0.1s;
border-radius: 4px;

}
.botao-botao:hover {
color: #fff;
}
/* .botao-botao:before,.botao-botao:after{
content: "";
position: absolute;
background: #0f8819;
width: 6px;
height: 6px;
z-index: -1;
} */
.botao-botao:before {
left: -1px;
top: -1px;
}

.botao-botao:after {
right: -1px;
bottom: -1px;
transition: 0.2s;
}
.span-span {
clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
background: #a02814;
width: 110%;
height: calc(100% + 2px);
display: block;
position: absolute;
left: -320px;
top: -1px;
transition: 0.4s;
z-index: -1;
}
.botao-botao:hover .span-span {
left: 0;
}

.botao-botao:hover:after {
background: #fff;
}
@keyframes animation {
0%{
  left: 50%;
}
25% {
  left: 49%;
} 
50% {
  left: 52%;
}
75% {
  left: 49%;
}
100% {
  left: 50%;
}
}

/*fim button*/

